<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="setup" connectionString="Server=localhost;Password=Pa$$word;User ID=root;Database=mysql"
            providerName="MySql.Data.MySqlClient" />
        <add name="user1" connectionString="Server=localhost;Password=Usr_2011#_Xls4168;User ID=sample07_user1;Database=s07"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
